.home {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: calc(100% / 3 / 3) calc(100% / 3 / 3 * 2) 1fr;
  grid-template-rows: 1fr;
}

.nav {
  background-color: #555;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2rem;
    background-color: #555;
    border-radius: 0.25rem;
  }
}

.bar {
  background-color: #444;
  padding: 0.5rem;

  > * {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2rem;
    background-color: #555;
    border-radius: 0.25rem;
  }
}

.content {
  padding: 0.5rem;
  overflow-y: scroll;
}
